p {
    padding-left: 12px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 105px;
    position: relative !important;
    text-align: inherit;
    left: 570px;
    text-shadow: 15px 12.5px 20px #b3b3b3;
    width: 130px;
  }
  
  sub {
    padding-left: 13px;
    padding-bottom: 100;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    position: relative;
    left: 535px;
    text-align: center;
  }
  
  #form {
    padding: 15px;
    font-size: 15px;
    font: status-bar;
    position: relative;
    display: compact;
    text-align: center;
  }
  
  #polies {
    position: absolute;
    padding-left: 50px;
  }
  
  #polies2 {
    position: absolute;
    padding-left: 900px;
  }
  
  #Polygon-1,
  #Polygon-2,
  #Polygon-3,
  #Polygon-4,
  #Polygon-4,
  #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
  }
  
  #Polygon-2 {
    animation-delay: .2s;
  }
  
  #Polygon-3 {
    animation-delay: .4s;
  }
  
  #Polygon-4 {
    animation-delay: .6s;
  }
  
  #Polygon-5 {
    animation-delay: .8s;
  }
  
  @keyframes float {
    100% {
      transform: translateY(20px);
    }
  }
  